body{
  background-color: #DDDDDD;
}
.be{
  background-color:red;
  display: inline-block;
  height:200px;
  width: 200px;
  position: absolute;
  left:35%;
  top: 370px;
}
.b{
  background-color: red;
  display: inline-block;
  height:200px;
  width: 200px;
  position: absolute;
  left:55%;
  top:370px;
}
.be:hover{
  background-color:#F24A72;
}
.b:hover{
    background-color:#EAEA7F;
}
h1{
  color: #FF5F00;
  padding-left: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #B6FFCE;
}
